<% if @book_list.any?() %>
<h1>Here is our list of books</h1>
<ul>
<% @book_list.each do |book| %>
  <li>
    <a href="/book/<%= book.id %>"> <%= book.title %> </a>
  </li>
<% end %>
</ul>
<% else %>
  <p>There are no books added yet</p>
<% end %>



<div class="form-group">
  <form action="/book_search_title" method="get">
    <label for="title">Search for Title</label>
    <input type="text" name="title">
    <button type="submit">Search</button>
  </form>
</div>
<br>


<br>
<form action="/book_list/titles" method="post">
  <button type="submit">Sort by title</button>
</form>
<br>

<a href="/book_list"> <button type="button" name="button">Back to List</button> </a>

<a href="/"> <button type="button" name="button">Back to Home</button> </a>

<a href="/add_book"> <button type="button" name="button">Add New Book</button> </a>

<br>
<br>
