<h3>Title:  <%= @book.title %> </h3>
<h3>Author: <%= @book.author %> </h3>

<a href="/book_list"> <button type="button" name="button">Back to list</button> </a>

<a href="/"> <button type="button" name="button">Back to Home</button> </a>

<a href="/add_book"> <button type="button" name="button">Add New Book</button> </a>
