<ul>
<% @book_list.each do |book| %>
<li>
 <a href="/book/<%= book.id %>"> <%= book.title %> by <%= book.author %> </a>
</li>
<% end %>
</ul>

<br>
<form action="/book_list/titles" method="post">
  <button type="submit">Sort by title</button>
</form>
<br>
<a href="/book_list"> <button type="button" name="button">Back to list</button> </a>

<a href="/"> <button type="button" name="button">Back to Home</button> </a>

<a href="/add_book"> <button type="button" name="button">Add New Book</button> </a>
