<h1>Library</h1>

<div class="container">
  <button type="button" name="button"><a href="/add_book">Add New Book</a></button>

  <button type="button" name="button"><a href="/book_list">View Book List</a></button>

</div>
